/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 12, 2017, 2:05:41 PM
    Author     : IMXNotASPider
*/
@mainColor:#004792;
@mainColorLight:#ffffff;
@mainColorDark:desaturate(@mainColor,80%);

@textColor:#454545;
@textColorLight:#f7f7f7;

@root:root;
@rootTop:top;
@rootCenter:center;
@rootLeft:left;
@rootRight:right;
@rootBottom:bottom;
@overlay:root>VBox;