/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2-jan-2017, 12:06:33
    Author     : Max Verhoeven
*/

*{
    -fx-text-fill:#333333;  
    
}
* .lightText{
    -fx-text-fill:ghostwhite;
}

.mainColor{
    -fx-background-color:cornflowerblue;
}
.mainColor2{
    -fx-background-color:white;
}
.mainColor3{
    -fx-background-color:#666666;
}

Button{
   -fx-background-color:cornflowerblue;
   -fx-text-fill:white;
   -fx-border-width:1px;
   -fx-border-color:transparent;
   -fx-border-radius:3px;
   -fx-background-radius:3px;
}
.transparent{
    -fx-background-color:transparent;
}
Button:hover{
    -fx-background-color:white;
    -fx-text-fill:cornflowerblue;
    -fx-cursor:hand;
    -fx-border-color:cornflowerblue;
    -fx-border-width:1px;
}
.radius{
    -fx-background-radius:4px;
    -fx-border-radius:4px;
}